      <%# メインヘッダー %>
      <div class="main_chat_header">
      
      </div>

      <%# メインチャット %>
      <div class="main_chat">
      </div>

      <%# メッセージ欄 %>
      <div class = "message_form">
      
      </div>
