      <%# メインヘッダー %>
      <div class="main_chat_header">

        <div class="header_room_name">
          <p>hogefuga</p>
        </div>

        <div class="header_exit_button">
            <a href="#">チャットを終了する</a>
        </div>

      </div>

      <%# メインチャット %>
      <div class="main_chat">
        
        <%# 1メッセージのwrapper %>
        <div class="message_box">

          <%# 名前と日付の表示 %>
          <div class="message_upper">
          
            <div class="message_name">
              <p>Tom</p>
            </div>

            <div class="message_time">
              <p>2020/03/31(Wed) 12:43:30</p>
            </div>
          </div>  
          <%# テキストの表示 %>
          <div class="message_lower">  
            <div class="message_text">
              <p>おはよう</p>
            </div>
          </div>
        </div>

        <%# 1メッセージのwrapper %>
        <div class="message_box">

          <%# 名前と日付の表示 %>
          <div class="message_upper">
          
            <div class="message_name">
              <p>Tom</p>
            </div>

            <div class="message_time">
              <p>2020/03/31(Wed) 12:43:30</p>
            </div>
          </div>  
          <%# テキストの表示 %>
          <div class="message_lower">  
            <div class="message_text">
              <p>おはよう</p>
            </div>
          </div>
        </div>


        <%# 1メッセージのwrapper %>
        <div class="message_box">

          <%# 名前と日付の表示 %>
          <div class="message_upper">
          
            <div class="message_name">
              <p>Tom</p>
            </div>

            <div class="message_time">
              <p>2020/03/31(Wed) 12:43:30</p>
            </div>
          </div>  
          <%# テキストの表示 %>
          <div class="message_lower">  
            <div class="message_text">
              <p>おはよう</p>
            </div>
          </div>
        </div>

        <%# 1メッセージのwrapper %>
        <div class="message_box">

          <%# 名前と日付の表示 %>
          <div class="message_upper">
          
            <div class="message_name">
              <p>Tom</p>
            </div>

            <div class="message_time">
              <p>2020/03/31(Wed) 12:43:30</p>
            </div>
          </div>  
          <%# テキストの表示 %>
          <div class="message_lower">  
            <div class="message_text">
              <p>おはよう</p>
            </div>
          </div>
        </div>


      </div>

      <%# メッセージ欄 %>
      <div class = "message_form">
            <div class ="form_input">
              <input class="form_text" placeholder="type a messagge"> 
                 <label class="form-image">
                  <span class="image-file">画像</span>
                  <input type="file" class="hidden">
                </label>
              
            </div>
            <input type="submit" value="送信" class="form_button">      
      </div>
