    <%# サイドバーヘッダー %>
    <div class = "side_bar_header">

      <div class="side_header_user">
        <%= link_to current_user.name, edit_user_path(current_user) %>
      </div>

      <div class="side_header_button">
           <%= link_to "チャットを作成する", new_room_path %>
      </div>

    </div>

    <%# ルームリスト %>
    <div class = "side_bar_roomlist">

      <% current_user.rooms.each do |room|  %>

        <div class="chat_room">
          <%= link_to room.name, room_messages_path(room) %>
        </div>

      <% end  %>

    </div>
