    <%# サイドバーヘッダー %>
    <div class = "side_bar_header">

      <div class="side_header_user">
          <a href="#">Tom</a>
      </div>

      <div class="side_header_button">
           <a href="#">チャットを作成する</a>
      </div>

    </div>

    <%# ルームリスト %>
    <div class = "side_bar_roomlist">

        <div class="chat_room">
          <a href="#">techroom1</a>
        </div>

        <div class="chat_room">
          <a href="#">techroom2</a>
        </div>

        <div class="chat_room">
          <a href="#">techroom3</a>
        </div>

        <div class="chat_room">
          <a href="#">techroom3</a>
        </div>

        <div class="chat_room">
          <a href="#">techroom3</a>
        </div>

        <div class="chat_room">
          <a href="#">techroom3</a>
        </div>

        <div class="chat_room">
          <a href="#">techroom3</a>
        </div>

        <div class="chat_room">
          <a href="#">techroom3</a>
        </div>

        <div class="chat_room">
          <a href="#">techroom3</a>
        </div>

        <div class="chat_room">
          <a href="#">techroom3</a>
        </div>

        <div class="chat_room">
          <a href="#">techroom3</a>
        </div>

    </div>
